body{
    margin: 0;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
    background-color: black;
    color: green;
}
.logo img{
    float: left;
    width: 10rem;
    height: 10rem;
}
#main-header{
    text-align: center;
}
#bronx-community-image{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.description{
    text-align: center;
    font-size: 1.5rem;
}
.experience-header{
    text-align: center;
}
.bronx-community-college-table{
    padding-top: 2%;
    padding-bottom: 2%;
    width: 85%;
    border-collapse: collapse;
    justify-content: center;
}
td{
    font-size:larger;
    padding-top: 4%;
    text-align: center;
}