body {
  background-color: white;
  text-align: center;
  margin: 2%;
  font-style: italic;
}
h1 {
  font-size: 45px;
}
p {
  font-size: 24px;
}
.security-section {
  background-color: black;
  color: green;
  padding: 40px;
  border-top-left-radius: 45%;
}
#bronx-community-image {
  width: 90%;
}
.bronx-community-college-table {
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}
.programmer-section {
  background-color: black;
  color: green;
  padding: 40px;
}
.programming-language-table {
  width: 100%;
}
.accessibility-section {
  background-color: black;
  color: green;
  padding: 40px;
}
.screen-readers {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.accessibility-section img {
  width: 150px;
  height: 150px;
}
.accessibility-section ol {
  text-align: left;
}
